html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: blue;
  overflow: hidden;
}

#header {
  background-color: green;
  flex-grow: 0;
}

#player {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}
